body {
  font-family: "Verdana";
  background-color: #17202A;
}

div_title {
  text-align: center;
  color: #AAB7B8;
}

div_para {
  text-align: left;
  color: #B3B6B7;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
